

<script>
    
    document.querySelectorAll(".bf").velocity({ transform: ["translateX(-100%)", "translateX(0%)"] }, { duration: 285 });
    document.querySelectorAll(".af").velocity({ transform: ["translateX(100%)", "translateX(0%)"] }, { duration: 285 });

    document.querySelectorAll(".ttl").velocity("slideInDown", {delay: 600 });

    document.querySelectorAll(".mmn1").velocity("slideInDown", { delay: 1200 });
    document.querySelectorAll(".mmn2").velocity("slideInDown", { delay: 1600 });
    document.querySelectorAll(".mmn3").velocity("slideInDown", { delay: 1900 });
    document.querySelectorAll(".mmn4").velocity("slideInDown", { delay: 2200 });
    document.querySelectorAll(".mmn5").velocity("slideInDown", { delay: 2650 });
    $(document).ready(function(){
    $('.ui .n').on('click', function() {
        $('.ui .n').removeClass('active');
        $(this).addClass('active');
    });             
});

$(function(){
    var url = window.location.pathname, // in real app this would have to be replaced with window.location.pathname 
        urlRegExp = new RegExp(url == '/blogs' ? window.location.origin + '/?$' : url.replace(/\/$/,'')); // create regexp to match current url pathname and remove trailing slash if present as it could collide with the link in navigation in case trailing slash wasn't present there
    
        // now grab every link from the navigation
        $('.ui .item').each(function(){
            // and test its href against the url pathname regexp
            if(urlRegExp.test(this.href)){
                $(this).addClass('active');
            }
        });

});


</script>

    </body>
</html>