<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Archivo:400,400i,500i,700,700i" rel="stylesheet">
    </head>
    <body>
        <div class="ui teal fixed inverted huge pointing menu">
            <div class="ui container">
                <div class="header item"><i class="bar chart icon"></i>Smart Data</div>
                <a href="/" class="item n">Home</a>
                <a href="/about" class="item n">About</a>
                
                
                 <% if(currentUser && currentUser.isAdmin) {%>
                   <a href="/blogs/new" class="item new">New Post</a>
                 <% } %>
                 
                 
                  <div class="right item">
                    <form style="margin-bottom: 0" action="/blogs" method="GET">
                        <div class="ui icon input">
                          <input type="text" name="search" placeholder="Search">
                          <i class="search icon"></i>
                        </div>
                    </form>
                    
                  </div>
            </div>
        </div>
