body {
  font-family: Archivo !important;
}

i.bar {
    font-size: 2em;
}
s
.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}


#post-header h2 {
    font-size:40px;
    padding-left: 10px;
    margin-top: 50px;
    font-family: Archivo;
}

.image > img {
    max-height: 100px;
}

#page-header {
    margin-top: 4em;
    font-family: Archivo;
  }
#page-header h1 {
    font-size: 60px;
    font-family: Archivo;
  }

  
.ui.inverted.pointing.menu .active.item:after {
    background-color: white !important;
  }
  
@media only screen and (min-width: 768px) and (max-width: 991px) {
.ui.container {
    width: 723px;
 }
}

.logo-line-before i,
.logo-line-after i {
  position: relative;
  display: block;
  height: 2px;
  background: #222;
}

.logo-line-before,
.logo-line-after {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 75%;
}

.ui.sub.header {
    margin-top: auto;
}

.ui.main.text.container {
    overflow: hidden;
}

.ui.basic.segment {
    padding-top: 25px;
}